<div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
  <div fxLayout="column" fxFlex="80">
    <h2>Events List Table</h2>
    <div fxLayoutAlign="end">
      <mat-form-field appearance="fill" style="margin-right: 20px">
        <mat-label>Sort By</mat-label>
        <mat-select disableRipple #sortBy [formControl]="sortControl" (valueChange)="sortEvents(sortBy.value)">
          <mat-option *ngFor="let column of columns" [value]="column.name">
            {{column.title}}
        </mat-option>
        </mat-select>
      </mat-form-field>
      <app-search fxFlex="40" [displayedColumns]="displayedColumns" (searchResultsEmitted)="updateTable($event)"></app-search>
    </div>
    <mat-card class="mat-elevation-z8">
      <mat-table cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="tableDrop($event)"
        [dataSource]="dataSource">
        <ng-container *ngFor="let column of columns; let i = index" [matColumnDef]="column.name">
          <mat-header-cell *matHeaderCellDef cdkDrag cdkDragLockAxis="x">
            {{ column.title }}
          </mat-header-cell>

          <mat-cell *matCellDef="let element">{{ element[column.name] | eventListFormatter: column.dataType }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderRow" #tableHeaderRow></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" ></mat-row>
      </mat-table>

      <table [style.width.%]="100">
        <tr *ngIf="!dataSource.data.length">
          <td style="text-align: center;" [attr.colspan]="displayedColumns.length">
            No Records Found!
          </td>
        </tr>
      </table>

      <mat-paginator #eventsTablePaginator [length]="dataSource.data?.length" [pageSizeOptions]="[2, 4, 5]"
        showFirstLastButtons>
      </mat-paginator>

    </mat-card>
  </div>
</div>
