<form (ngSubmit)="search()">
  <mat-form-field appearance="fill" [style.width.%]="100">
    <mat-label>Search</mat-label>
    <input matInput [value]="searchTerm" [formControl]="searchControl"/>
  </mat-form-field>
</form>
